# Question 5 -- Pretty Printing Sorted Posts

So far, we have been using only a few columns of data from our dataframes to solve simple dataframe manipulation challenges. Our final challenge will be to print out
all of the posts as you might see them displayed on the Stack Overflow Website. The format you must use is simple. Here is a template:
```
### Question <number><tab><username><tab><score> ###
Title:<title>
<body>
### COMMENTS ###
### Comment <number><tab><username><tab><score> ###
<text>
### ANSWERS ###
### Answer <number><tab><username><tab><score> ###
Title:<title>
<body>
### COMMENTS ###
### Comment <number><tab><username><tab><score> ###
<text>
```
Notes: the <number> field is one that you manually index. So the first question would be 1 and the tenth question would be 10. All questions, comments, and answers should be displayed in decending score order. This should be easy if you got the three files sorted correctly in Exercise 2. Finally, the username must be retrieved from the 'Users.feather' file using the correct key. It should be easy to figure out the key based on the input file if you inspect the column headers. I have provided you with a convenience function that will do the lookup and return a string name once you have the 'Users.feather' file loaded. The <tab> is simply a single tab ('\t') to separate the three fields.

### Read a feather file and return a dataframe. This is already done for you. You just have to call it from main to convert a feather file into a dataframe.

In [1]:
import pyarrow.feather as feather
import pandas as pd

In [2]:
def arrow_to_df(input_file_name):
    df = feather.read_feather(input_file_name)
    return df

### This function will retrieve a User Display Name based on a user ID.

In [3]:
def get_user_name_from_id(users_df,user_id):
    rv = users_df[users_df['Id']==user_id]['DisplayName'].values[0]
    return rv

### Copy your sort function from Question 2 here.

In [4]:
def sort_df (df,key):
    # TODO
    return

In [10]:
def filter_comment (input_df, key):
    temp_df = input_df[input_df.PostId ==key]
    return temp_df

### Main Loop -- Hint of a structure:
* First read the 'Users.feather', 'Comments-Sorted.feather', Answers-Sorted.feather, and 'Questions.feather' files into dataframes using the provided function.
* Note that we never sorted the questions by score, so we should do that first using the sort function from Question 2.
* Now walk the questions dataframe, in each iteration, find the comments that belong to the question, the answers that belong to the question, and finally, the comments that belong to each answer. 
* As you iterate over the dataframes, you will need to lookup Usernames.
* As you iterate over the dataframes, you will periodically write out the text to display following the format in the header. 
* Conceptually, open a file for writing named 'Display-Posts.txt' for writing, and write lines when you have the data from the dataframe for that iteration.
* A sample file that shows the first post from my solution will be provided. You can use this as a sanity check when you write out all of the posts.

In [13]:
# Now we show the main wrapper that you should complete when
# you finalise your assignment. A hint of the structure is above.
def main():
# TODO
    username_df = arrow_to_df('Users.feather')
    comm_sort_df = arrow_to_df('Comments-Sorted.feather')
    ans_sort_df = arrow_to_df('Answers-Sorted.feather')
    ques_sort_df = arrow_to_df('Questions-Sorted.feather')
    #comm_sort_df.rename(columns={'PostId':'ParentId'}, inplace=True)
    display(ques_sort_df.head(5)) #parent
    display(comm_sort_df.head(5)) #post
    display(ans_sort_df.head(5)) #parent
    display(username_df.head(5))

    # I spent a week trying to do this via for loops for my tutor to say it was best done with group.by and merging. 
    #As a fisrt time python user this question has made my life miserable and taken too long.
    # I give up. I look forward to seeing how it was done.
    #for index, row in ques_sort_df.iterrows(): 
       # print(row['Id'])
       # Id = row['Id']
        for index, row in comm_sort_df.iterrows():
            print(row[filter_comment(comm_sort_df,Id)])
        break   
    return

In [14]:
# Here is the definition of the "main" loop execution function shown
# in Lectorial 2
if __name__ == '__main__':
    main()
    print('[INFO]:Script completed with no errors')

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,ParentId,LastEditorDisplayName,OwnerDisplayName,CommunityOwnedDate
0,6095,1,-1,2011-08-10 21:38:03.210,1195,244243,How accurate is this XKCD comic from August 10...,416,33,2017-03-12 09:01:58.947,...,"XKCD #936: Short complex password, or long dic...",<passwords><cryptography><entropy><usability>,23,9,588,NaT,-1,NA,NA,2012-12-31 20:11:42.800
1,20803,1,20833,2012-09-28 07:51:55.707,1146,612391,How does SSL work? I just realised we don't ac...,5400,10211,2014-12-21 03:49:41.107,...,How does SSL/TLS work?,<tls><certificates><public-key-infrastructure>,3,1,1223,NaT,-1,NA,NA,NaT
2,211,1,31846,2010-11-12 12:36:34.773,827,231775,If I hash passwords before storing them in my ...,33,10211,2014-12-16 12:08:49.057,...,How to securely hash passwords?,<appsec><cryptography><passwords><hash>,13,5,865,NaT,-1,NA,NA,NaT
3,33470,1,-1,2013-03-30 21:30:36.967,795,145098,I have always wondered why so many websites ha...,19657,25005,2015-01-22 21:15:20.233,...,What technical reasons are there to have low m...,<passwords><password-policy>,14,15,365,NaT,-1,NA,NA,NaT
4,4781,1,6415,2010-09-16 00:05:56.970,604,245389,"On the surface bcrypt, an 11 year old security...",3118,10211,2014-12-21 03:49:56.507,...,Do any security experts recommend bcrypt for p...,<passwords><cryptography><hash><bcrypt>,5,8,406,NaT,-1,NA,Sam Saffron,NaT

,Id,PostId,Score,Text,CreationDate,UserId,UserDisplayName
0,20242,6116,686,Your last quote deserves a thousand upvotes.,2012-03-20 04:07:16.083,8546,NA
1,41762,25585,639,... and now Dave's protocol is published?,2012-12-18 15:14:34.027,9946,NA
2,385403,194353,362,Most of the people here's primary experience w...,2018-09-24 18:45:37.167,110550,NA
3,198719,111260,321,First of all you didn't follow their advice - ...,2016-01-20 17:27:54.723,33,NA
4,10242,6095,292,New most common passwords: `onetwothreefour` `...,2011-08-11 08:35:26.790,3850,NA

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,ParentId,LastEditorDisplayName,OwnerDisplayName,CommunityOwnedDate
0,33471,2,-1,2013-03-30 21:48:45.807,1662,-1,Take five chimpanzees. Put them in a big cage....,5411,185645,2018-08-31 15:22:14.360,...,NA,NA,-1,25,-1,NaT,33470,NA,NA,NaT
1,6116,2,-1,2011-08-11 09:14:00.533,1448,-1,"I think the most important part of this comic,...",33,33,2017-11-29 08:42:52.890,...,NA,NA,-1,17,-1,NaT,6095,NA,NA,NaT
2,31846,2,-1,2013-03-02 22:50:10.683,1078,-1,> > ***Note:*** This answer was written in 2...,655,163495,2019-07-09 12:59:55.863,...,NA,NA,-1,30,-1,NaT,211,NA,NA,NaT
3,20833,2,-1,2012-09-29 00:52:29.423,1062,-1,"General ======= SSL (and its successor, [TLS...",10863,122088,2018-09-11 19:35:36.697,...,NA,NA,-1,11,-1,NaT,20803,NA,NA,NaT
4,25710,2,-1,2012-12-20 11:08:39.223,904,-1,The way I demonstrate it to complete non-techi...,5400,15091,2012-12-20 20:03:35.320,...,NA,NA,-1,6,-1,NaT,25684,NA,NA,NaT

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl
-1,-1,1,2010-11-11 17:29:16.387,Community,2010-11-11 17:29:16.387,http://meta.stackexchange.com/,on the server farm,"Hi, I'm not really a person. I'm a backgroun...",0,6120,25423,-1,NA
2,2,101,2010-11-11 21:14:59.417,Geoff Dalgas,2019-08-16 16:13:02.743,http://stackoverflow.com,"Corvallis, OR",Developer on the Stack Overflow team. Find me ...,138,9,0,2,https://i.stack.imgur.com/nDllk.png
3,3,1057,2010-11-11 21:24:20.323,rem,2016-05-06 14:52:47.483,NA,NA,NA,197,67,0,68456,NA
4,4,732,2010-11-11 21:24:33.023,garik,2019-07-23 07:46:02.847,http://ib-dev.site,Russia,,299,80,0,61635,NA
5,5,729,2010-11-11 21:25:25.163,Magnus,2019-08-26 11:41:30.137,http://www.magnusmorton.com,"West Lothian, United Kingdom",NA,158,18,1,209674,NA

6095

TypeError: Indexing a Series with DataFrame is not supported, use the appropriate DataFrame column